# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.eggs/
dist/
build/
*.whl

# Environment variables
.env
*.env

# Virtual Environment
venv/
env/
.venv/
.env/

# Database
*.sqlite3
*.db
*.db-journal

# IDE and Editor Files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Docker
docker-compose.override.yml
*.dockerfile

# Jupyter Notebooks
.ipynb_checkpoints

# Coverage reports
.coverage
coverage.xml
*.cover
*.py,cover

# Redis
*.pid
*.sock

# System Files
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.tmp
*.temp
